{# extends 'formfields.html.twig' #}

{% block label %}
    <label class="form-control-label" >{{ block('form_label') }}</label>
{% endblock %}

{% block widget_simple %}
    <div class="form-control">
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block form_errors -%}
    {%- if errors|length == 1 -%}
        <div class="alert alert-warning">
            {%- for error in errors -%}
                {{ error.message }}
            {%- endfor -%}
        </div>
    {% elseif errors|length > 2%}
        <div class="{% if form is not rootform %}invalid-feedback{% else %}alert alert-danger{% endif %}">
            <ul class="list-unstyled mb-0">
                {%- for error in errors -%}
                    <li>{{ error.message }}</li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif %}
{%- endblock form_errors %}