{% extends 'template.html.twig' %}

{% block title %}Nuevo producto{% endblock %}


{% block body %}
<div id="wrapper">
    <div id="container">
        <div id="welcome">
            <h1><span>Nuevo producto</span></h1>
        </div>

        <div id="status">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

    </div>
</div>
{% endblock %}